<!DOCTYPE html>
<html lang="pt_br">
<head>
    {% block head %}
        <title>Desafio 3-1</title>
    {% endblock %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    
</head>
<body>
    <header>
        <div id="menu">
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/">Sobre</a>
            <a href="/conteudos">Conteúdos</a> 
        </div>
        
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>