@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color: #7159c1
}

*{
    margin: 0px;
    padding: 0px;
    border: none;
}

body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;

}

.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: 700;
    color: var(--primary-color);
}

.links a:hover{
    color: var(--primary-color);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0px;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 700ms cubic-bezier(0.98, 0.45, 0.38, 0.73);
}

/*  ##### CARD ##### */
.card{
    background-color: white;
    width: 800px;
    height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);

    animation-name: up;
    animation-duration: 700ms;
}

@keyframes up{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}